.btn {
    &-color1 {
      background-color: $color1 !important;
      color: $white !important;
      border-radius: 15px;
      border: 0px;
  
      &:hover {
        background-color: darken($color1, 25%) !important;
      }
    }
    &-colorBg {
      background-color: $colorBg1 !important;
      color: $white !important;
      border-radius: 15px;
      border: 0px;
  
      &:hover {
        background-color: darken($colorBg1, 25%) !important;
      }
    }


    &-specific {
      background-color: $colorSpecific1 !important;
      color: $colorSpecific2 !important;
      border-radius: 15px;
      border: 0px;
  
      &:hover {
        background-color: darken($colorSpecific2, 25%) !important;
        color: $colorSpecific1 !important;
      }
    }

    &-contact {
      min-width: 150px;
    }
    
    &-search {
        background-color: $color1 !important;
        color: $white !important;
        border-radius: 15px;
        border: 0px;

        &:hover {
            background-color: darken($color1, 25%) !important;
        }
    }
  }
  