@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400|ZCOOL+XiaoWei');

//*** FONT - IMPORT ***/

$bodyFont : 'Lato',sans-serif;
$bodyWeight : 300;
$headingFont : 'ZCOOL XiaoWei', serif;

//** COLORS **//
$black : #000000;
$white : #F7F0F5;

$gray : #e9e9e9;
$lightGray : #ced4da;
$darkGray : #333;

$color1 : #78BC61;
$color2 : #53585e;
/*  FORM COLORS  */
    // Invalid
    $color3 : #d72e3d;
    // Valid
    $color4 : #28a745;

$colorSpecific1: #1b2222;
$colorSpecific2: #fcd9a9;

$colorBg1 : #3498db;
$colorBg2 : #2c3e50;

//** FONT SIZES **//
$headings: (
    h1 : 40px,
    h2 : 26px,
    h3 : 22px,
    h4 : 20px,
    h5 : 18px,
    h6 : 16px );
$bodyFontSize : 18px;
$breakSmall: 376px;
$breakMed: 769px;